<h1> Your Appointment </h1>
<br>
Patient: <%= @appointment.patient_id %>
<br>
Date: <%= @appointment.date %>
<br>
Condition: <%= @appointment.condition %>
<br>
Doctor: <%= @appointment.doctor_id %>

<%= button_to "Delete Appointment", appointment_path(@appointment), method: :delete %>
<br>
<%= link_to "Edit Appointment", edit_appointment_path(@appointment) %> 
